supabase
streamlit
pytz
requests
beautifulsoup4
pandas
uuid
googlesearch-python
timezonefinder
langdetect
arxiv
diskcache
curl_cffi>=0.5.0
pypdf>=3.0.0
google-generativeai
playwright
# youtube_transcript_api==0.6.2
# yt-dlp
# webvtt-py
aiohttp
nest_asyncio
google-generativeai